.count{
    text-align: center;
    font-size: 1.3rem;
    background-color: rgb(206, 202, 202);
    width: 40vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}